
@{
    ViewBag.Title = "PassUsingViewBag";
}
<h2>@ViewBag.Title</h2>
<h5><b>Rand Value First :</b> @ViewBag.Class.x</h5>
<h5><b>Rand Value Second :</b> @ViewBag.Class.y</h5>
<h5><b>Add :</b><br>@ViewBag.Class.x + @ViewBag.Class.y = @ViewBag.Class.Add()</h5>
<h5><b>Sub :</b><br>@ViewBag.Class.x - @ViewBag.Class.y = @ViewBag.Class.Sub()</h5>
<h5><b>Mult :</b><br>@ViewBag.Class.x * @ViewBag.Class.y = @ViewBag.Class.Mult()</h5>
<h5><b>Div :</b><br>@ViewBag.Class.x / @ViewBag.Class.y = @ViewBag.Class.Div()</h5>

